---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> 🖌 Bienvenue à toi !</h1>
			<p>
				Voici mon site internet, tu y trouveras tous mes projets, dessins, 3D et bien plus encore!
			</p>
			<p>
				
			</p>
			<p></p>
			<ul>
				<img src="/img-1.jpg" alt="">
				
			</ul>
			<p>
				Pour toutes questions ou demandes concernant mes projets, tu peux me contacter en un seul <a href="/about">clic</a>.
			</p>
			<p>
				
			</p>
		</main>
		<Footer />
	</body>
</html>
